.search-box {
  position: relative;
  width: 100%;
}

.autocomplete-block {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.autocomplete-item {
  padding: 10px;
}

.autocomplete-item a {
  display: block;
  text-decoration: none;
  color: #1e1d1d;
}

.autocomplete-item a:hover {
  background-color: #d9d7d7;
}